/**
 * OVERALL
 ************************************************** */

html, body, #app { height: 100%; }

/* for consistent calculation of content width */
*, *:before, *:after
{
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body
{
  background-image: url("../img/chat_bg_tile.png");
  background-size: 190px;
  background-repeat: repeat;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;

  overflow: hidden;
}

.chat_window
{
  height: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* putting flex items into a column */
  /*-webkit-box-orient: vertical */ /* safari support */
  -webkit-flex-direction: column;
  flex-direction: column;

  font-size: 0.75em;
}

/**
 * SCROLLBAR STYLING
 ************************************************** */

::-webkit-scrollbar
{
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb:window-inactive
{
  background: rgba(0,0,0,0.1); 
}

/**
 * TOP MENU BAR
 ************************************************** */

.top_menu
{
  background-color: #9276b8;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 6px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
  align-items: center; /* for vertical alignment between avatar and details */
}

.top_menu .avatar
{
  width: 35px;
  height: 35px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.top_menu .details
{
  margin-left: 5px;
}

.top_menu .title
{
  color: #eee;
  font-weight: bold;
}

.top_menu .status
{
  color: #cecece;
}

/**
 * MESSAGES DISPLAY
 ************************************************** */

.messages_view
{
  height: 100%;
  overflow-y: auto;
}

.messages_view ul
{
  margin: 15px 10px 15px 15px;
  padding: 0;
  list-style-type: none;
}

.messages_view ul li
{
  /* to ensure no overlapping of chat bubbles on the same row */
  display: block;
  clear: both;
  margin: 15px 0;
}

.messages_view .sender_message
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end; /* to right align bubble */
}

.messages_view .bubble
{
  background-color: #eee;
  padding: 8px 10px;

  max-width: 75%; /* ensure no leaking occurs */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);

  position: relative; /* for triangles to inherit positioning */
  display: inline-block; /* to contain timestamp in bubble */
}

.messages_view .sender_message .bubble
{
  background-color: #fb9fba;
  margin-right: 10px;
  max-width: 65%;
}

/* triangle on left for receiver's bubble */
.messages_view .receiver_message .bubble:before
{
  content:"";
  position: absolute;
  top: 10px;
  left: -7px;
  border-width: 5px 8px 5px 0;
  border-style: solid;
  border-color: transparent #eee;
  /* reduce the damage in FF3.0 */ 
  display:block;
  width: 0;
}

/* triangle on right for sender's bubble */
.messages_view .sender_message .bubble:before
{
  content:"";
  position: absolute;
  top: 10px;
  right: -7px;
  border-width: 5px 0 5px 8px;
  border-style: solid;
  border-color: transparent #fb9fba;
  /* reduce the damage in FF3.0 */ 
  display:block;
  width: 0;
}

.messages_view .datestamp
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.messages_view .datestamp .text
{
  background: rgba(0,0,0,0.25);
  color: #eee;
  padding: 4px 8px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.messages_view .text
{
  white-space: -moz-pre-wrap; /* firefox */
  white-space: -o-pre-wrap;   /* opera 7 */
  white-space: -pre-wrap;     /* opera <7 */
  white-space: pre-wrap;      /* css3 */
  word-wrap: break-word;
}

.messages_view .receiver_message .timestamp,
.messages_view .sender_message .timestamp
{
  float: right;
  margin: 8px -4px -4px 5px;

  color: #fb85a7;
  font-size: 0.917em;
}

.messages_view .sender_message .timestamp
{
  color: #eee;
}

.img-seen, .img-notseen, .img-error, .img-sending
{
  background-image: url('../img/status_sprite.png');
  background-repeat: no-repeat;
  width: 9px;
}

.img-seen { background-position: 0 0; }
.img-notseen { background-position: -9px 0; }
.img-sending { background-position: -18px 0; }
.img-error { background-position: -27px 0; }

.messages_view .avatar
{
  width: 30px;
  height: 30px;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/**
 * USER MESSAGE INPUT
 ************************************************** */

.bottom_wrapper
{
  background-color: #eee;
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 8px;
  
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
}

#userInput
{
  background-color: white;
  padding: 8px;
  max-height: 5em;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  overflow-y: auto;
  outline: none;
  resize: none;

  font-family: inherit;
  font-size: inherit;

  flex: 1 1 auto;
}

#sendBtn
{
  background-color: #9276b8;
  color: #fff;
  margin-left: 8px;
  padding: 8px;
  max-height: 32px;
  
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  outline: none;

  flex: 0 0 auto;
}

#sendBtn:hover
{
  background-color: #6d4f96;
}